{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spam Detection</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div class="form-container">
    <form method="POST" class="form">
        {% csrf_token %}
        <label for="text">Enter Your Text Here </label>
        <input type="text" name="text" id="text">
        <button type="submit" class="submit">Check</button>
        <button type="reset" class="reset">Clear All</button>
        {% if result %}
        	<div class="result">Result : {{ result }}</div>
        {% endif %}
    </form>
</div>
</body>
</html>