* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #b6b2b2;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.form {
    padding: 50px;
    background: bisque;
    border-radius: 10px;
    border-left: orangered 10px solid;
    border-top: brown 7px solid;
}

.form label {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background: #f3a448;
    border-radius: 10px;
    font-weight: bold;
}

.form input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #835314;
    color: snow;
}

.form button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #503b21;
    color: #dddbdb;
}

.form button:hover {
    cursor: pointer;
    background: #775731;
    color: #acacac;
}

.form .result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: #a5855d;
    margin-bottom: -10px;
}